.item-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #FAFAFA;
  box-sizing: border-box;
  border: 0.05rem solid #DDD;
  box-shadow: 0.1rem 0.1rem 0.2rem #DDD;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0; 
}

.head-panel {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 2rem 0;
}

.wi.wi-icon {
  font-size: 9rem;
  margin-bottom: 0;
}

.main-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  font-weight: 400;
}

.main-info span {
  font-size: 1.5rem;
}

.main-temp {
  padding: 0.5rem 0;
  font-size: 4rem;
}

.main-cond-txt {
  font-size: 2.5rem;
}

.body-panel {
  width: 100%;
  display: flex;
  max-height: 0;
  overflow: hidden;
}

.body-panel .right-panel {
  flex: 1;
  text-align: left;
  padding-left: 1rem;
}

.body-panel .left-panel {
  flex: 1;
  text-align: right;
  padding-right: 1rem;
}
