.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.4rem;
  line-height: 4.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  background-color: #222;
  color: #FFF;
  border-bottom: 0.1rem solid #333;
  box-shadow: 0 2px 2px #000;
}