.forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-size: 2rem;
}

.tabs {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  padding: 0.1rem 1.5rem 1rem;
  overflow: scroll;
}

.pos-wrap > span {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
