/*防止横竖屏转换时字体自适应*/
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none;}

html, body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*字体抗锯齿*/
  -webkit-font-smoothing: antialiased;
  /*iOS 滚动优化*/
  -webkit-overflow-scrolling: touch;
  /*禁止用户选择页面文字*/
  user-select:none；
}

#root {
  height: 100%;
}

.root-wrap {
  height: 100%;
  box-sizing: border-box;  
  padding: 4.5rem 0 4.3rem;
  /*background-color: #EEE;*/
}
